<html>
    <head>

    </head>
    <body>
        <h1>This is the page which displays a list of medications</h1>

        <table>
        {{#rows}}
            <tr>
                <td>{{mid}}</td>
                <td>{{name}}</td>
                <td>{{count}}</td>
                <td>{{brand}}</td>
                <td>
                    <form action = "/meds/delete/{{mid}}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a href = "/edit/{{mid}}">Edit</a>
                </td>
            </tr>
        {{/rows}}
        </table>
        <form action = "/add" method="get">
            <button type="submit">Add</button>
        </form>
    </body>
</html>