<html>
    <head>

    </head>
    <body>
        <h1>This is the page which displays a list of medications</h1>

        <table>
        {{#rows}}
            <tr>
                <td>{{mid}}</td>
                <td>{{name}}</td>
                <td>{{count}}</td>
                <td>{{brand}}</td>
                <td>
                    <form action = "/meds/delete/{{mid}}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {{/rows}}
        </table>
    </body>
</html>